<a href="https://colab.research.google.com/github/kailashmalani/pythonRepo/blob/main/python_basics_day1%204.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("welcome to Python world")

welcome to Python world

In [ ]:
2+3

In [ ]:
print("Kailash Malani")

In [ ]:
a=10
print(a)
print("a=",id(a))

b=10
print(b)
print("a=",id(b))

c=a
print(c)
print("c=",id(c))

d=20
print(d)
print("d=",id(d))

In [ ]:
#dynamic

a=10
print(a)
print("a=",id(a))

a=3.14
print(a)
print("a=",id(a))

a="NTT"
print(a)
print("a=",id(a))

In [ ]:
#deleting a variable

a=10
print(a)

del a
print(a)

In [ ]:
#creating multiple variables

a,b,c=10,3.14,"NTT"
print(a,b,c)

#assign single value to multiple variables

a=b=c=100
print(a,b,c)

In [ ]:
#variable annotation

a: int = 10
print(a)

print(__annotations__['a'])

b: float = 31.3
print(a)

print(__annotations__['a'])

c: str = "NTT"
print(c)

print(__annotations__['c'])

a="Blr"
print(a)

In [ ]:
import keyword

print(keyword.kwlist)
print(len(keyword.kwlist))

In [ ]:
# this is a single line comment

#this is a multiline comment

'''Multilevel
comment'''

print("hey")

In [32]:
#Strings

s= "code yug"

print(s[0:3:1])
print(s[2:4])
print(s[0:5:2])
print(s[:4])
print(s[-2:-6:2])
print(s[-1::-1])
print(s[-3:-11])
print(s[-1:-1:-1])

st = "bangalore"
print(st[0:8:3])
print(st[0::1])
print(st[::1])
print(st[::])
print(st[0:0:1])
print(st[::-1])
print(st[-1:-4:-1])

sti = "Hello, world!"
print(sti[7:12])
print(sti[:5])
print(sti[-6:-1])
print(sti[-2:-6:-1])
print(sti[2:6:-1])

cod
de
cd
code

guy edoc


bgo
bangalore
bangalore
bangalore

erolagnab
ero
world
Hello
world
dlro