<a href="https://colab.research.google.com/github/kailashmalani/pythonRepo/blob/main/python_basics_day1%204.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("welcome to Python world")

welcome to Python world

In [ ]:
2+3

In [ ]:
print("Kailash Malani")

In [ ]:
a=10
print(a)
print("a=",id(a))

b=10
print(b)
print("a=",id(b))

c=a
print(c)
print("c=",id(c))

d=20
print(d)
print("d=",id(d))

In [ ]:
#dynamic

a=10
print(a)
print("a=",id(a))

a=3.14
print(a)
print("a=",id(a))

a="NTT"
print(a)
print("a=",id(a))

In [ ]:
#deleting a variable

a=10
print(a)

del a
print(a)

In [ ]:
#creating multiple variables

a,b,c=10,3.14,"NTT"
print(a,b,c)

#assign single value to multiple variables

a=b=c=100
print(a,b,c)

In [ ]:
#variable annotation

a: int = 10
print(a)

print(__annotations__['a'])

b: float = 31.3
print(a)

print(__annotations__['a'])

c: str = "NTT"
print(c)

print(__annotations__['c'])

a="Blr"
print(a)

In [ ]:
import keyword

print(keyword.kwlist)
print(len(keyword.kwlist))

In [ ]:
# this is a single line comment

#this is a multiline comment

'''Multilevel
comment'''

print("hey")

In [ ]:
#Strings

s= "code yug"

print(s[0:3:1])
print(s[2:4])
print(s[0:5:2])
print(s[:4])
print(s[-2:-6:2])
print(s[-1::-1])
print(s[-3:-11])
print(s[-1:-1:-1])

st = "bangalore"
print(st[0:8:3])
print(st[0::1])
print(st[::1])
print(st[::])
print(st[0:0:1])
print(st[::-1])
print(st[-1:-4:-1])

sti = "Hello, world!"
print(sti[7:12])
print(sti[:5])
print(sti[-6:-1])
print(sti[-2:-6:-1])
print(sti[2:6:-1])

cod
de
cd
code

guy edoc


bgo
bangalore
bangalore
bangalore

erolagnab
ero
world
Hello
world
dlro

In [3]:
#day3

#simple if statement

if 1>5:
  print("10 is greater than 5")
  print("I am inside if block")
  print("still I am inside if block")
print("I am outside if block")

I am outside if block

In [5]:
#input

name = input("Enter your Name")
print("Your name is : ",name)

Enter your NameKailash
Your name is :  Kailash

In [10]:
no1 = int(input("Enter the first number "))
no2 = int(input("Enter Second Number "))

if no1>no2:
  print("no1 is Greater")

Enter the first number 23
Enter Second Number 12
no1 is Greater

In [9]:
no1 = float(input("Enter the first number "))
no2 = float(input("Enter Second Number "))
print(no1+no2)

Enter the first number 23
Enter Second Number 43
66.0

In [14]:
age =int(input("Please Enter your age : "))

if age>=18:
  print("Welcome to Vote")
  print("You can Vote")
else:
  print("Sorry Not eligible to Vote")
print("Thank You")

Please Enter your age : 17
Sorry Not eligible to Vote
Thank You

In [16]:
a = int(input("Enter a number : "))

if a%2==0:
  print(a," is an Even Number")
else:
  print(a," is an Odd Number")

Enter a number : 12
12  is an Even Number

In [17]:
grade = int(input("Enter a grade : "))

if grade >= 90:
  print("A Grade")
elif grade >= 80:
  print("B Grade")
elif grade >= 70:
  print("C Grade")

else:
  print("D Grade")

Enter a grade : 75
C Grade

In [18]:
num = int(input("Enter a number : "))


if num > 0:
  print(num," is a positive number")
  if(num % 2 ==0):
    print(num," is an even number")
  else:
    print(num," is an odd number")
else:
  print(num," is a negative number")

Enter a number : 35
35  is a positive number
35  is an odd number

In [20]:
#while loop

i=2

while i<=5:
  print(i)
  i=i+1

2
3
4
5

In [22]:
#multiplication table

num=int(input("Enter a number : "))

i=1

while(i<=10):
  print(num*i)
  i=i+1

Enter a number : 7
7
14
21
28
35
42
49
56
63
70

In [25]:
#for loop

for i in ("NTT DATA"):
  print(i)

for i in ["10","20","30"]:
  print(i)

N
T
T

D
A
T
A
10
20
30

In [27]:
v = ['a','e','i','o','u']

str = input("Enter a String ")

counter = 0

for i in str:
  if i in v:
    counter = counter + 1

print("Number of vowels in ",str," are ",counter)

Enter a String pune
Number of vowels in  pune  are  2

In [36]:
# reversing a string using slicing

str = input("Please enter a string to reverse : ")
print(str[::-1])
print(str[-1::-1])

Please enter a string to reverse : reverse
esrever
esrever

In [43]:
#palindrome using slicing

str = input("Please enter a string to check if its a palindrome: ")

if str[::1] == str[::-1]:
  print(str, "is a palindrome")
else:
  print(str," is not a palindrome")

Please enter a string to check if its a palindrome: armymra
armymra is a palindrome