<a href="https://colab.research.google.com/github/kailashmalani/pythonRepo/blob/main/python_basics_day1%204.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("welcome to Python world")

welcome to Python world

In [ ]:
2+3

In [ ]:
print("Kailash Malani")

In [ ]:
a=10
print(a)
print("a=",id(a))

b=10
print(b)
print("a=",id(b))

c=a
print(c)
print("c=",id(c))

d=20
print(d)
print("d=",id(d))

In [ ]:
#dynamic

a=10
print(a)
print("a=",id(a))

a=3.14
print(a)
print("a=",id(a))

a="NTT"
print(a)
print("a=",id(a))

In [ ]:
#deleting a variable

a=10
print(a)

del a
print(a)

In [ ]:
#creating multiple variables

a,b,c=10,3.14,"NTT"
print(a,b,c)

#assign single value to multiple variables

a=b=c=100
print(a,b,c)

In [ ]:
#variable annotation

a: int = 10
print(a)

print(__annotations__['a'])

b: float = 31.3
print(a)

print(__annotations__['a'])

c: str = "NTT"
print(c)

print(__annotations__['c'])

a="Blr"
print(a)

In [ ]:
import keyword

print(keyword.kwlist)
print(len(keyword.kwlist))

In [ ]:
# this is a single line comment

#this is a multiline comment

'''Multilevel
comment'''

print("hey")

In [ ]:
#Strings

s= "code yug"

print(s[0:3:1])
print(s[2:4])
print(s[0:5:2])
print(s[:4])
print(s[-2:-6:2])
print(s[-1::-1])
print(s[-3:-11])
print(s[-1:-1:-1])

st = "bangalore"
print(st[0:8:3])
print(st[0::1])
print(st[::1])
print(st[::])
print(st[0:0:1])
print(st[::-1])
print(st[-1:-4:-1])

sti = "Hello, world!"
print(sti[7:12])
print(sti[:5])
print(sti[-6:-1])
print(sti[-2:-6:-1])
print(sti[2:6:-1])

cod
de
cd
code

guy edoc


bgo
bangalore
bangalore
bangalore

erolagnab
ero
world
Hello
world
dlro

In [ ]:
#day3

#simple if statement

if 1>5:
  print("10 is greater than 5")
  print("I am inside if block")
  print("still I am inside if block")
print("I am outside if block")

I am outside if block

In [ ]:
#input

name = input("Enter your Name")
print("Your name is : ",name)

Enter your NameKailash
Your name is :  Kailash

In [ ]:
no1 = int(input("Enter the first number "))
no2 = int(input("Enter Second Number "))

if no1>no2:
  print("no1 is Greater")

Enter the first number 23
Enter Second Number 12
no1 is Greater

In [ ]:
no1 = float(input("Enter the first number "))
no2 = float(input("Enter Second Number "))
print(no1+no2)

Enter the first number 23
Enter Second Number 43
66.0

In [ ]:
age =int(input("Please Enter your age : "))

if age>=18:
  print("Welcome to Vote")
  print("You can Vote")
else:
  print("Sorry Not eligible to Vote")
print("Thank You")

Please Enter your age : 17
Sorry Not eligible to Vote
Thank You

In [ ]:
a = int(input("Enter a number : "))

if a%2==0:
  print(a," is an Even Number")
else:
  print(a," is an Odd Number")

Enter a number : 12
12  is an Even Number

In [ ]:
grade = int(input("Enter a grade : "))

if grade >= 90:
  print("A Grade")
elif grade >= 80:
  print("B Grade")
elif grade >= 70:
  print("C Grade")

else:
  print("D Grade")

Enter a grade : 75
C Grade

In [ ]:
num = int(input("Enter a number : "))


if num > 0:
  print(num," is a positive number")
  if(num % 2 ==0):
    print(num," is an even number")
  else:
    print(num," is an odd number")
else:
  print(num," is a negative number")

Enter a number : 35
35  is a positive number
35  is an odd number

In [ ]:
#while loop

i=2

while i<=5:
  print(i)
  i=i+1

2
3
4
5

In [ ]:
#multiplication table

num=int(input("Enter a number : "))

i=1

while(i<=10):
  print(num*i)
  i=i+1

Enter a number : 7
7
14
21
28
35
42
49
56
63
70

In [ ]:
#for loop

for i in ("NTT DATA"):
  print(i)

for i in ["10","20","30"]:
  print(i)

N
T
T

D
A
T
A
10
20
30

In [ ]:
v = ['a','e','i','o','u']

str = input("Enter a String ")

counter = 0

for i in str:
  if i in v:
    counter = counter + 1

print("Number of vowels in ",str," are ",counter)

Enter a String pune
Number of vowels in  pune  are  2

In [ ]:
# reversing a string using slicing

str = input("Please enter a string to reverse : ")
print(str[::-1])
print(str[-1::-1])

Please enter a string to reverse : reverse
esrever
esrever

In [ ]:
#palindrome using slicing

str = input("Please enter a string to check if its a palindrome: ")

if str[::1] == str[::-1]:
  print(str, "is a palindrome")
else:
  print(str," is not a palindrome")

Please enter a string to check if its a palindrome: armymra
armymra is a palindrome

In [4]:
stri = "http://www.myntra.com"

print(stri.lstrip("hp"))

ttp://www.myntra.com

In [9]:
s = "Apple"

r = s.replace("p","P")
print(r)

r = s.replace("p","P",0)
print(r)

APPle
Apple

In [20]:
s = "I am in Bangalore"
print(s.split(" ",))
print(type(s.split()))

['I', 'am', 'in', 'Bangalore']
<class 'list'>

In [29]:
#list

data = [20,3,"list",8.9]
data1 = [20,3,2,2]

print(data[0])
print(type(data))
print(type(data1))
print(data[-1])

20
<class 'list'>
<class 'list'>
8.9

In [43]:
rachel = ["pagal",["billi"],["motu","ladki"]]

cutie = []

for i in rachel:
  print(type(i))
  if(type(i) == list):
    for j in i:
      cutie.append(j)
    print("hi")
  else:
    cutie.append(i)

print(cutie)


print((rachel[2]))

<class 'str'>
<class 'list'>
hi
<class 'list'>
hi
['pagal', 'billi', 'motu', 'ladki']
['motu', 'ladki']

In [46]:
#concatenation

l1 = ["rachel"]
l2 = ["pagal","ladki"]

print(l1+l2)

['rachel', 'pagal', 'ladki']

In [49]:
#multiplication

l1 = [10,20]

l2 = 5

print(l1*l2)

[10, 20, 10, 20, 10, 20, 10, 20, 10, 20]

In [57]:
#list membership

l1 = [10,20,30,40]

print('10' in l1)

#deletion

l1.remove(10)
del l1[1]

print(l1)

False
[20, 40]

In [68]:
#max and min element

l1 = [10,20,30]
print(max(l1))
print(min(l1))

l2 = ["apple","amma","ball"]
print(max(l2,key=len))

l3=[]
print(max(l3,default=1))

30
10
apple
1

In [66]:
#fibo

no = int(input("Enter a number : "))

fibo = []

if(no == 0 or no < 0):
  print("Enter a valid number")
elif(no == 1):
  fibo.append(0)
  print(fibo)
elif(no == 2):
  fibo.append(0)
  fibo.append(1)
  print(fibo)
else:
  fibo.append(0)
  fibo.append(1)
  for i in range(2,no):
    fibo.append(fibo[i-1]+fibo[i-2])
  print(fibo)

Enter a number : 10
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [69]:
original = [10,20,30]

for i in range(0,5):
  original.append(int(input("Enter a number : ")))

print(original)

Enter a number : 40
Enter a number : 50
Enter a number : 60
Enter a number : 70
Enter a number : 80
[10, 20, 30, 40, 50, 60, 70, 80]

In [74]:
l1 =[10,20,30]
l1.extend("NTT")
print(l1)

l1.insert(6,40)
print(l1)

[10, 20, 30, 'N', 'T', 'T']
[10, 20, 30, 'N', 'T', 'T', 40]

In [78]:
l1 = [10,20,30,40,50,60]

l1.remove(20) #element to remove
print(l1)
print(l1.remove(50)) #returns none

l1.pop() #removes last element

print(l1)

l1.pop(2) #index of the element

print(l1)

print(l1.pop()) #returns the element removed

[10, 30, 40, 50, 60]
None
[10, 30, 40]
[10, 30]
30